// @media (min-width: 768px) {
//     .container {
//         width:750px
//     }
// }

// @media (min-width: 992px) {
//     .container {
//         width:970px
//     }
// }

// @media (min-width: 1200px) {
//     .container {
//         width:$mainWidth
//     }
// }

.container {
    width: $mainWidth;
    margin: 0 auto;
}

.homeContent {

    // background: #D8DFE9;


    .banner {
        .el-carousel{
            height: 720px !important;
            .el-carousel__container{
                height: 100%;
            }
        }
        // width: 100%;
        // height: 51.43rem;
        margin-top: 100px;
        margin-bottom: 160px;

        img {
            width: 1920px;
            height: 720px;
        }
    }


    .titleBox {


        margin: 0 auto;

        margin-bottom: 80px;
        text-align: center;
        line-height: 52px;

        .titleFrist {
            height: 52px;
            font-size: 44px;
            font-family: Poppins, Poppins-Bold;
            font-weight: 700;
            color: #1d2129;
            letter-spacing: 0rem;

        }

        .titleTow {
            height: 52px;
            font-size: 32px;
            font-family: Poppins, Poppins-Regular;
            font-weight: 400;
            color: #d8dfe9;

        }



    }


    .solutionBox {
        margin-bottom: 320px;

        .solutionContentBox {
            display: flex;
            margin: 0 auto;

            // .solutionBoxList:hover  .deails {
            //     background-color: $bgcolor;
            //     cursor: pointer;
            //     color: #ffffff;
               
            // }
            .solutionBoxList:hover{
                transform: translateY(-10px);
                transition:  0.1s;
                transition-timing-function: ease-in-out;
                cursor: pointer;
                box-shadow: 0px 0px 60px 0px rgba(25,90,148,0.15); 
                .deails {
                    background-color: $bgcolor;
                   
                    color: #ffffff;
                   
                }

            }

            .solutionBoxList {
                width: 500px;
                margin-right: 32px;
                border: 1px solid #D8DFE9;

                :last-child {
                    margin-right: 0px;
                }



                .img {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 334px;
                    }
                }

                .contentBox {
                    .title {
                        height: 48px;
                        margin-top: 56px;
                        margin-bottom: 24px;
                        font-size: 32px;
                        line-height: 48px;
                        font-family: Poppins, Poppins-SemiBold;
                        font-weight: normal;
                        text-align: CENTER;
                        color: #1d2129;

                    }

                    .content {
                        height: 99px;
                        opacity: 0.5;
                        font-size: 22px;
                        font-family: Poppins, Poppins-Medium;
                        font-weight: 500;
                        text-align: CENTER;
                        color: #45484e;
                        margin: 0 47px;
                        margin-bottom: 41px;

                        line-height: 42px;
                    }
                }

               

                .deails {

                    .title {
                        margin-right: 4px;
                        height: 22px;
                        line-height: 22px;
                        font-family: Poppins, Poppins-Regular;
                        font-weight: 400;
                    }

                    padding: 23px 0 25px 0;
                    width: 100%;

                    background-color: rgba(10, 71, 201, 0.00);
                    color:$color;
                    font-size: 18px;

                    text-align: CENTER;


                    letter-spacing: 0rem;

                    .deailsContent {
                        width: 91px;
                        margin: 0 auto;
                        display: flex;
                    }
                }
            }
        }

    }

    .productBox {
        margin-bottom: 320px;

        .productBoxLi {
            padding: 0 89px;

            ul {
                display: flex;

            }

            li {
                margin-right: 254px;
                height: 250px;
                width: 156px;
            }

            img {
                width: 114.2px;

                margin: 0 auto;
                display: block;
                margin-bottom: 31px;

            }

            .listTitle {
                width: 156px;
                text-align: center;
                height: 31px;
                font-size: 26px;
                font-family: Inter, Inter-Regular;
                font-weight: 400;

               
                line-height: 31px;
                margin-bottom: 68px;
            }
            .active{
                color: $color;
                .listUnderline {
                    background: $bgcolor;
                }
            }
            .listUnderline {
                width: 126px;
                height: 2px;

                margin: 0 auto;
            }

        }
    }

    .productBoxContent {

        display: flex;

        .textBox {
            padding: 60px 0px 56px 178px;
            width: 960px;
            height: 512px;
            background: #f2f4f7;

            .title {
                width: 192px;
                height: 48px;
                font-size: 32px;
                font-family: Poppins, Poppins-SemiBold;
                font-weight: normal;
                text-align: LEFT;
                color: #1d2129;
                line-height: 32px;
                margin-bottom: 24px;
            }

            .content {
                width: 580px;
                height: 90px;
                font-size: 20px;
                font-family: Poppins, Poppins-Regular;
                font-weight: 400;
                text-align: LEFT;
                color: #4e5969;
                line-height: 28px;
                margin-bottom: 32px;
            }

            .characteristic {

                .characteristic_title_box {
                    display: flex;

                    .characteristic_title_box_title {
                        width: 89px;
                        height: 30px;

                        font-size: 20px;
                        font-family: Poppins, Poppins-Regular;
                        font-weight: 400;
                        text-align: LEFT;
                        color: #1d2129;
                        line-height: 30px;
                    }

                    .br {
                        width: 694px;
                        height: 0px;
                        border: 1px solid #d8dfe9;
                        margin-top: 15px;
                    }

                    margin-bottom: 24px;
                }

                .characteristic_label {
                    .characteristic_label_ul {
                        display: flex;

                        li {
                            padding: 8px 16px;


                            border: 1px solid #86909c;
                            text-align: center;


                            font-size: 14px;
                            font-family: Poppins, Poppins-Regular;
                            font-weight: 400;

                            color: #86909c;
                            margin-right: 16px;
                        }
                    }
                }
            }

            .productBoxContent_details {
                margin-top: 35px;


                font-size: 18px;
                font-family: Poppins, Poppins-Regular;
                font-weight: 400;
                color: $color;
                line-height: 22px;

            }
        }

        .productImgBox {
            .el-carousel{
                height: 512px !important;
                .el-carousel__container{
                    height: 100%;
                }
            }
            width: 960px;

            .el-carousel__arrow--left {
                display: none !important;
            }

            ;

            .el-carousel__arrow--right {
                display: none !important;
            }

           

            .productImgBox_img {
                width: 100%;
            }
        }



    }

    .newBox {
        margin-bottom: 320px;
        .newBox_ul {
            // display: flex;

            .newBox_ul_li:nth-child(odd) {
                margin-right: 32px;
            }

            .newBox_ul_li:nth-child(even) {
                margin-right: 0px;
            }

            .newBox_ul_li:hover {
                box-shadow: 0px 8px 20px 0px rgba(224, 224, 224, 0.50), 0px 0px 60px 0px rgba(25, 90, 148, 0.15);
                cursor: pointer;

                .newBox_title {
                    color: $color;
                }
            }

            .newBox_ul_li {
                border: 1px solid #D8DFE9;
                float: left;
                width: 766px;
                height: 288px;
                padding: 24px;
                display: flex;
                margin-bottom: 48px;

                .newBox_img {
                    margin-right: 32px;

                    img {
                        width: 320px;
                        height: 240px;
                    }
                }

                .newBox_text_box {
                    .newBox_title {
                        font-size: 24px;
                        font-family: Poppins, Poppins-Medium;
                        font-weight: 500;
                        width: 312px;
                        height: 36px;
                        line-height: 36px;
                        margin-bottom: 24px;
                    }

                    .newBox_mainText {
                        width: 358px;
                        height: 96px;
                        font-size: 16px;
                        font-family: Poppins, Poppins-Medium;
                        font-weight: 500;
                        text-align: JUSTIFIED;
                        margin-bottom: 46px;
                    }

                    .newBox_time_box {

                        display: flex;
                        align-items: center;


                        img {

                            width: 24px;
                            height: 24px;
                            margin-right: 3px;
                        }

                        .newBox_time {
                            width: 78px;
                            height: 30px;
                            font-size: 12px;
                            font-family: Montserrat, Montserrat-SemiBold;
                            font-weight: normal;

                            color: #86909c;
                            line-height: 30px;
                            letter-spacing: 0.14px;
                        }
                    }
                }


            }
        }

        .newBox_ul_tow {
            .newBox_ul_li_tow:nth-child(odd) {
                margin-right: 32px;
            }

            .newBox_ul_li_tow:nth-child(even) {
                margin-right: 0px;
            }
            .newBox_ul_li_tow:hover{
                cursor: pointer;
                .newBox_icon{
                    background: $bgcolor;
                }
                .newBox_title_tow{
                    color:  $color;
                }
            }
            .newBox_ul_li_tow {
                align-items: center;
                float: left;
                 width: 766px;
                height: 36px;
                     padding: 0px 24px;
                display: flex;
                margin-bottom: 48px;
                .newBox_icon {
                width: 12px;
                height: 12px;
              background: #86909c;
                border-radius: 12px;
                margin-right: 12px;
                }

                .newBox_text_box_tow {
                        display: flex;
                        align-items: center;
                        flex: 1;
                    .newBox_title_tow {
                        flex: 1;
                    }

                   
                    .newBox_time_box_tow {
                             display: flex;
                        align-items: center;
                        flex: 0 0 70px;
                          img {

                            width: 24px;
                            height: 24px;
                            margin-right: 3px;
                        }
                        .newBox_time{
  width: 78px;
                            height: 30px;
                            font-size: 12px;
                            font-family: Montserrat, Montserrat-SemiBold;
                            font-weight: normal;

                            color: #86909c;
                            line-height: 30px;
                            letter-spacing: 0.14px;
                        }
                    }
                }
            }
        }
        .getAll:hover{
            cursor: pointer;
        }
        .getAll{
          
            width: 145px;
height: 50px;
background: $bgcolor;
border: 1px solid #ffffff;
border-radius: 8px;
display: flex;
margin: 0 auto;
padding: 10px 24px;
align-items: center;
color: #ffffff;
img{
    width: 20px;
height: 20px;
margin-left: 12px;
}
        }
    }


   
}