.navelDropdownMenu{

    // position: absolute!important;
  
    // min-width: 222px;
  
    // left: auto!important;
  
    // right: 0;
  
  
  
  }

.navMain{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: transform .2s;
    transform: translateZ(0);
    background: $bgcolor;
    height: 100px;
    z-index: 10;
    width: 100%;
}



.nav{
    // padding: 37.08px 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
}
.nav::after{
    clear: both;
    display: table;
    content: " ";
}
.navlog{
    margin-left: 178px;
    div:first-child img{
        width: 32px;
        height: 32px;
        margin-right:12px;
    }
    div:last-child img{
       width: 128px;
       height: 32px;
    }
    display: flex;
   
}
// .navLogoImg{
//     margin-right: 0.86rem;
// }

.navlist{
    height: 100%;
    .active:hover{
       
        .downIcon{
            transition: all 0.5s;
            transform: rotateX(180deg);
        }
        .navlistChildren{
            transition: all 1s;
            display: block !important;
        }
    }
    // .navlistChildren li:active{
       
      
    //     .navlistChildren{
            
    //         display: none;
    //     }
    // }
   
    .navlistLi{
       .navlistLi_dropdown{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .el-dropdown-link{
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
        .dropDownHover:hover i{
            transform: rotate(180deg);
            transition: all 0.3s;
        }
       }
        // .el-dropdown-menu__item{
  
        // }
        color: #ffffff;
        .el-dropdown{
            font-size: inherit;
            color: inherit;
            font-weight: inherit;
        }
        position: relative;
        .navlistChildren{
            /*通过hover选择器来显示菜单，此处默认为隐藏*/
            position: absolute;
            /*使得下拉列表向下覆盖*/
            list-style-type: none;
      
            width: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            display: none;
            background: #fff;
            padding: 8px 0;
            top: 100px;
          
            height: auto;
            li:hover{
                cursor: pointer;
                color:  $color;
                background: #f5f5f5;
            }    
            li{
                display: block;
               
                white-space: nowrap;
               
                a{
                    padding: 8px 24px;
                    color: black;
                    font-size: 14px;
                }
            }

        }
    }
    // float: right;
    width: 100%;
    margin-left: 352px;
    margin-right: 178px;
    ul{
        width: 100%;
        display: flex;
        margin: 0px;
        padding: 0px;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        li {
            font-family: Poppins, Poppins-Regular;
            
            font-weight: 400;
            text-align: LEFT;
            line-height: 30px;
            
            font-size: 20px;
            justify-content: center;
                align-items: center;
                cursor: pointer;
                height: 100%;
                display: flex;
                a{
                    display: flex;
                    height: 100%;
                  
                    text-decoration: none;
                    justify-content: center;
                    align-items: center;
                }
                // margin-right: 160px;
                // @media (min-width: 1200px) {
                //     margin-right: 11.43rem;
                // }
                // @media (min-width: 768px) {
                //     a{
                //         margin-right:  2.43rem
                //     }
                // }
            }
    }
}

