.newsInfo{
    margin-top:100px;
    padding-bottom: 160px;
    .news_header{
        //  width: 1920px;
        // width: 100%;
        padding-top: percentage(400/1920);
        position: relative;
        img{
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: auto !important;
        }
    }
    .news_content{
        margin-top:80px;
        .news_list{
            // width: 1920px;
            width: 100%;
            height: auto;
            padding:80px 178px;
            display:flex;
            justify-content: space-around;
            align-items: flex-start;
            transition: all 0.3s;
            .news_list_left{
                display: flex;
                align-items: center;
                flex:1;
                img{
                    width: 48px;
                    height: 48px;
                }
                .news_time{
                    margin-left: 6px;
                    // width: 156px;
                    // height: 60px;
                    // background: #86909c;
                    font-size: 24px;
                      
                    font-weight: normal;
                    text-align: center;
                    color: #86909c;
                    // line-height: 60px;
                    letter-spacing: 0.29px;
                }

            }
            .news_list_mid{
                flex:3;
                .news_title{
                    // width: 312px;
                    // height: 36px;
                    font-size: 24px;
                     
                    font-weight: 500;
                    text-align: left;
                    color: #1d2129;
                    line-height: 36px;
                }
                .news_des{
                    margin-top:24px;
                    padding-right: 80px;
                    // width: 680px;
                    // min-height: 68px;
                    font-size: 16px;
                     
                    font-weight: 500;
                    text-align: justify;
                    color: #4e5969;
                    min-height: 70px;
                    line-height: 72px;
                }
                .news_btn{
                    display: flex;
                    align-items: center;
                    margin-top:48px;
                    .btn{
                        // width: 71px;
                        // height: 22px;
                        // background: #165dff;
                        font-size: 16px;
                           
                        font-weight: 400;
                        text-align: center;
                        color: $bgcolor;
                        line-height: 22px;
                        letter-spacing: -0.01px;
                        cursor: pointer;
                    }
                    img{
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .news_list_right{
                width: 500px;
                height: 240px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    border: 1px solid #d8dfe9;
                }
            }
        }
        .news_list:hover{
            // width: 1920px;
            // height: 400px;
            transition: all 0.3s;
            background: #f2f4f7;
            box-shadow: 0px -1px 0px 0px #d8dfe9;
            cursor: pointer;
            .news_list_mid{
                .news_title{
                    color:$bgcolor
                }
            }

        }
    }

}

.el-pagination{
    text-align:center;
    margin-top:80px;
}
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li{
    min-width: 32px;
    // width: 32px;
    height: 32px;
    line-height: 32px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    font-size: 14px;
     
    font-weight: 400;
    text-align: CENTER;
    color: #1d2129;
}