.partners{
    height: 100vh;
    margin-bottom: 250px;
    .partners_header{
        position: relative;
        .header_img{
            padding-top: percentage(720/1920);
            position: relative;
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        .header_text{
            width: 336px;
            height: 190px;
            background: rgba(255,255,255,0.20);
            backdrop-filter: blur(20px);
            position: absolute;
            top:190px;
            left: 50%;
            transform: translateX(-50%);
            div{
                padding: 40px 80px;
                h3{
                    font-size: 44px;
                     
                    font-weight: 700;
                    text-align: center;
                    color: #1d2129;
                    text-shadow: 0px 4px rgba(255,255,255,0.25);
                }
                h4{
                    font-size: 44px;
                     
                    font-weight: 700;
                    text-align: center;
                    color: #ffffff;
                    text-shadow: 0px 4px rgba(255,255,255,0.25);
                }
            }

        }
    }
    .partners_mid{
        width: 1564px;
        height: 628px;
        margin: auto;
        background: #ffffff;
        box-shadow: 0px 0px 60px 0px rgba(25,90,148,0.15);
        position: absolute;
        top: 700px;
        left: 50%;
        transform: translateX(-50%);
        padding: 90px;
        ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
        .mid_grid{
            position: absolute;
            width: 310px;
            height: 200px;
            margin: auto;
        }
        li{
            width: 310px;
            height: 200px;
            margin: auto;
            background: #ffffff;
            box-shadow: 0px 0px 60px 0px rgba(25,90,148,0.15);
            // margin-right: 48px;
            margin-bottom: 48px;
        }
        img{
            width: 100%;
            height: 100%;
        }
        h3{
          // width: 144px;
          // height: 36px;
          font-size: 24px;
           
          font-weight: 700;
          text-align: center;
          color: #1d2129;
          line-height: 36px;
        }
        .mid_title{
          position: relative;
          top: -60px;
          left: 0;
        }
    }
    .partners_bot{
        width: 100%;
        height: 568px;
        background: #ffffff;
        margin-top: 100px;
    }

}