.products{
    margin-top:100px;
    margin-bottom: 160px;
    .products_header{
        position: relative;
        // background-image: url(../../public/newsBanner.png);
        margin-bottom: 160px;
        .header_img{
          padding-top: percentage(720/1920);
          position: relative;
          img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: auto !important;
          }
          background: #f2f4f7;
          
        }
        .header_title{
          position: absolute;
          top:20%;
          left:6%;
          h2{
              // width: 384px;
              // height: 117px;
              font-size: 96px;
               
              font-weight: 400;
              text-align: left;
              color: #1d2129;
              line-height: 117px;
          }
          p{
              margin-top:48px;
              // width: 750px;
              // height: 144px;
              font-size: 48px;
               
              font-weight: 400;
              text-align: left;
              color: #45484e;
              // line-height: 72px;
              letter-spacing: -0.07px;
          }
        }

    }
}


